*{
    margin: 0;
    padding: 0;
}

.Menu_Header{
    border: 1px solid Black;
    width: 1000vh;
    height: 100px;
}

.B_Busqueda {
    border: 1px solid black;
    width: 300px;
    height: 50px;
    position: absolute;
    top: 23px; left: 15px;
    border-radius: 15px;
}

#Logo_Lupa{
    width: 40px; height: 40px;
    position: absolute;
    top: 5px; left: 5px;
}
#Buscar{
    width: 40px; height: 40px;
    position: absolute;
    top: 15px; left: 100px;
}
#Logo_Down{
    width: 40px; height: 40px;
    position: absolute;
    top: 5px; left: 250px;
}

#Op1{
    width: 40px; height: 40px;
    position: absolute;
    top: 40px; left: 500px;
}

#Op2{
    width: 40px; height: 40px;
    position: absolute;
    top: 40px; left: 600px;
}

#Op3{
    width: 40px; height: 40px;
    position: absolute;
    top: 40px; left: 700px;
}

#Op4{
    width: 40px; height: 40px;
    position: absolute;
    top: 40px; left: 800px;
}

#Op5{
    width: 40px; height: 40px;
    position: absolute;
    top: 40px; left: 900px;
}
#Logo_Carpeta{
    width: 40px; height: 40px;
    position: absolute;
    top: 25px; left: 1100px;
}

#Logo_Campana{
    width: 30px; height: 30px;
    position: absolute;
    top: 25px; left: 1200px;
}

.Body_Header{
    border: 1px solid Black;
    width: 1000vh;
    height:150px;
    flex-grow: 5px;
}

#Titulo1 {
    position: relative;
    top: 25px; left: 25px;
}

#Op2_1 {
    width: 300px; height: 40px;
    position: absolute;
    top: 140px; left: 500px;
}

#Op2_2 {
    width: 300px; height: 40px;
    position: absolute;
    top: 140px; left: 650px;
}

#Op2_3 {
    width: 300px; height: 40px;
    position: absolute;
    top: 140px; left: 770px;
}

#Op2_4 {
    width: 300px; height: 40px;
    position: absolute;
    top: 140px; left: 880px;
}

.Vista1 {
    border: 1px solid black;
    width: 150px;
    height: 40px;
    position: relative;
    top: 43%; left: 10px;
    border-radius: 10px 0px 0px 10px;
}
.Vista2 {
    border: 1px solid black;
    width: 150px;
    height: 40px;
    position: relative;
    top: 15%; left: 160px;
    border-radius: 0px 10px 10px 0px;
}
#Logo_Cuadricula{
    width: 40px; height: 40px;
    position: absolute;
    top: 0px; left: -10px;
    border-radius: 150px;
}
#Vista_Cu{
    width: 200px; height: 40px;
    position: absolute;
    top: 12px; left: 20px;
    border-radius: 150px;
}
#Logo_Lista{
    width: 25px; height: 25px;
    position: absolute;
    top: 8px; left: 1px;
    border-radius: 150px;
}
#Vista_Li{
    width: 100px; height: 40px;
    position: absolute;
    top: 12px; left: 40px;
    border-radius: 150px;
}